altair==6.0.0
altgraph==0.17.5
attrs==25.4.0
blinker==1.9.0
bottle==0.13.4
branca==0.8.2
cachetools==6.2.4
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
clr_loader==0.2.10
colorama==0.4.6
et_xmlfile==2.0.0
folium==0.20.0
geographiclib==2.1
geopy==2.4.1
gitdb==4.0.12
GitPython==3.1.46
idna==3.11
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
narwhals==2.14.0
numpy==2.4.0
numpy-financial==1.0.0
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pefile==2024.8.26
pillow==12.1.0
plotly==6.5.0
protobuf==6.33.2
proxy_tools==0.1.0
pyarrow==22.0.0
pycparser==2.23
pydeck==0.9.1
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.11
pyproj==3.7.2
python-dateutil==2.9.0.post0
pythonnet==3.0.5
pytz==2025.2
pywebview==5.4
pywin32-ctypes==0.2.3
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
setuptools==80.9.0
shapely==2.1.2
six==1.17.0
smmap==5.0.2
streamlit==1.52.2
streamlit-desktop-app==0.3.3
streamlit-folium==0.25.3
tenacity==9.1.2
toml==0.10.2
tornado==6.5.4
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.2
watchdog==6.0.0
xyzservices==2025.11.0
